{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Programa Presidencial Ciudad Mujer La Ceiba</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome-n.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/rectangulos.css' %}">
    <link rel="stylesheet" href="{% static '\assets\css\animate.css\css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
</head>

<body>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header" >
                            <div class="page-block">
                                <div class="row align-items-center" >
                                    <div class="col-md-8" >
                                        <div class="page-header-title">
                                            <h3 class="m-b-10">Programa Presidencial Ciudad Mujer La Ceiba</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'Home' %}"> <i class="fa fa-home"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% block content %}
            <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                                    <!-- Page-body start -->
                        <div class="page-body">
                            <div class="row d-flex justify-content-center">
                                            <!-- Material statustic card start -->
                                <div class="col-xl-4 col-md-12">
                                    <div class="card mat-stat-card">
                                        <div class="">
                                            <div class="text-center">
                                                <img src="{% static 'assets/images/ciudadm.png' %}" alt="logo.png">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="">
                                                <div class="float-right col-md-5">
                                                    <a href="{% url 'Usuaria' %}" type="button" class="btn btn-dark btn-md btn-block waves-effect waves-light text-center m-b-10">Usuarias</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-12">
                                    <div class="card mat-stat-card">
                                        <div class="card-block">
                                            <div class="text-center">
                                                <img src="{% static 'assets/images/ciudadm.png' %}" alt="logo.png">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="">
                                                <div class="float-right col-md-5">
                                                    <a href="{% url 'Funcionaria' %}" type="button" class="btn btn-dark btn-md btn-block waves-effect waves-light text-center m-b-10">Funcionarias</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
                    <br>
                    <br>
                    <br>
                    <footer class="page-footer font-small blue pt-4">
                        <div class="container-fluid text-center text-md-left">
                            <div class="row">
                                <div class="rectangulo col-md-2 mt-md-0 mt-1"></div>
                                <div class="rectangulo1 col-md-2 mt-md-0 mt-1"></div>
                                <div class="rectangulo2 col-md-2 mt-md-0 mt-1"></div>
                                <div class="rectangulo3 col-md-2 mt-md-0 mt-1"></div>
                                <div class="rectangulo5 col-md-2 mt-md-0 mt-1"></div>
                                <div class="rectangulo4 col-md-2 mt-md-0 mt-1"></div>
                            </div>
                        </div>
                    </footer>
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'ssets/js/jquery-ui/jquery-ui.min.js ' %}a"></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js ' %}"></script>
    <!-- waves js -->
    <script src="{% static 'assets/pages/waves/js/waves.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- slimscroll js -->
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %} "></script>

    <!-- menu js -->
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %} "></script>

</body>

</html>
